/* 
	flex 设置的是弹性项目的弹性长度。
		flex-direction：
		flex-wrap：
		flex-flow：是flex-direction属性和flex-wrap属性的简写形式，默认值为row nowrap。
		justify-content
		align-items
		align-content：属性定义了多根轴线的对齐方式


		order：属性定义项目的排列顺序。数值越小，排列越靠前，默认为0
		flex-grow：属性定义项目的放大比例，默认为0
		flex-shrink：性定义了项目的缩小比例，默认为1
		flex-basis：属性定义了在分配多余空间之前，项目占据的主轴空间
		flex：flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto
		align-self：属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。默认值为auto
*/
@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
  }
.myflex{
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;  //row-reverse  column  column-reverse
	flex-wrap: wrap;
	@media (max-width: 800px) {
		.box-5, .box-6 {
		  flex: 100%;
		}
	  }
	.box-5{
		width: 100px;
		height: 100px;
		background: red;
		border-radius: 10px;
		flex: 1;
	}
	.box-6{
		width: 100px;
		height: 100px;
		background: green;
		border-radius: 10px;
		flex: 1;
	}
}