@charset "UTF-8";
/*el-input */
.input .el-input__suffix {
  height: 40px;
  background-image: url("~@/images/common/ic_close.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left;
}

.input .el-input__suffix .el-input__suffix-inner {
  border-color: none;
}

.input .el-input__suffix .el-input__suffix-inner .el-icon-circle-close:before {
  display: none;
}

.el-input__inner {
  padding: 0 10px;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

input::-webkit-input-placeholder {
  color: #888888 !important;
}

textarea::-webkit-input-placeholder {
  color: #888888 !important;
}

button:focus {
  outline: none;
}

.el-input.is-disabled .el-input__inner {
  background: #f2f2f2;
}

/* el-dialog弹窗关闭按钮 */
.el-dialog__headerbtn {
  height: 16px;
  width: 16px;
  background-image: url("../home/close.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 16px 16px;
}

.el-dialog__headerbtn i {
  display: none;
}

/* 分页器 */
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next {
  width: 32px;
  height: 32px;
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  border-radius: 4px;
  border: 1px solid #c6c6c6;
}

.el-pagination.is-background .el-pager li {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #c6c6c6;
}

.el-pagination.is-background .btn-quicknext {
  border: none !important;
}

.el-pagination.is-background .el-pagination__sizes {
  height: 32px !important;
}

.el-pagination.is-background .el-input__inner {
  height: 32px !important;
}

.el-pagination.is-background .el-input__suffix {
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7e7e7));
  background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 100%);
  border-left: 1px solid #c6c6c6;
  transform: scale(1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  top: 1px;
  right: 1px;
}

.el-pagination.is-background .el-pager .active {
  border-color: #1890ff !important;
}

/* toast */
.el-message {
  min-width: 196px !important;
  border: 0;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 900000 !important;
  padding: 15px 50px;
}

.el-message .el-message__icon {
  display: none;
}

.el-message .el-message__content {
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 20px;
}

/deep/.el-message .el-icon-info:before {
  content: "";
}

/deep/.el-message .el-message__content {
  color: #fff !important;
}

/* element下拉框 */
.el-select .el-input__suffix .el-input__suffix-inner .el-select__caret::before {
  display: none;
}

.el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
  height: 40px;
  width: 34px;
  background-image: url("~@/images/common/up.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  position: relative;
  z-index: 99;
}

.el-select-dropdown__wrap .el-select-dropdown__list {
  padding: 0;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  overflow: hidden;
}

.el-select-dropdown__wrap .el-select-dropdown__list .hover {
  background: #fff;
}

.el-select-dropdown__wrap .el-select-dropdown__list .selected {
  background: #ededed;
  color: #e0121b !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.el-select-dropdown__wrap .el-select-dropdown__list .el-select-dropdown__item {
  font-size: 16px;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 15px !important;
}

.el-select-dropdown__wrap .el-select-dropdown__list .el-select-dropdown__item:last-child {
  border-bottom: 0;
}

.el-select-dropdown__wrap .el-select-dropdown__list .el-select-dropdown__item:hover {
  background-color: #ededed;
  color: #e0121b;
  font-weight: 600;
  font-size: 16px;
}

/* 修改输入框计数显示 */
.el-input .el-input__suffix .el-input__suffix-inner .el-input__count {
  color: #888888;
  font-size: 16px;
}

.el-textarea .el-input__count {
  color: #888888;
  font-size: 16px;
}

.el-button span {
  font-size: 16px;
}

.el-input-number {
  border: 0;
}

.el-input-number .el-input-number__decrease {
  background: #e9e9e9;
  height: 38px;
  overflow: hidden;
  border-right: 1px solid #aaaaaa;
}

.el-input-number .el-input-number__decrease:hover {
  color: #606266;
}

.el-input-number .el-input-number__decrease .el-icon-minus {
  background-image: url("~@/icons/jian.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
}

.el-input-number .el-input-number__decrease .el-icon-minus::before {
  display: none;
}

.el-input-number .el-input-number__increase {
  border-left: 1px solid #aaaaaa;
  overflow: hidden;
  background: #e9e9e9;
  height: 38px;
}

.el-input-number .el-input-number__increase:hover {
  color: #606266;
}

.el-input-number .el-input-number__increase .el-icon-plus {
  background-image: url("~@/icons/jia.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
}

.el-input-number .el-input-number__increase .el-icon-plus::before {
  display: none;
}

.el-input-number .el-input .el-input__inner {
  padding: 0;
  border-color: #bebebe !important;
}
